This is a notebook to read csv files

In [1]:
import pandas as pd

homelessness = pd.read_csv('homelessness.csv',index_col=0)

In [2]:
homelessness.head()

               region       state  individuals  family_members   state_pop
'
0  East South Central     Alabama       2570.0           864.0   4887681.0
1             Pacific      Alaska       1434.0           582.0    735139.0
2            Mountain     Arizona       7259.0          2606.0   7158024.0
3  West South Central    Arkansas       2280.0           432.0   3009733.0
4             Pacific  California     109008.0         20964.0  39461588.0

Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [3]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness['individuals'] > 10000]

# See the result
print(ind_gt_10k)

                region       state  individuals  family_members   state_pop
'
4              Pacific  California     109008.0         20964.0  39461588.0
9       South Atlantic     Florida      21443.0          9587.0  21244317.0
32        Mid-Atlantic    New York      39827.0         52070.0  19530351.0
37             Pacific      Oregon      11139.0          3337.0   4181886.0
43  West South Central       Texas      19199.0          6111.0  28628666.0
47             Pacific  Washington      16424.0          5880.0   7523869.0